/* resources/css/custom-rtl.css */
body {
    direction: rtl;
}

.filament-main {
    text-align: right;
}

/* Adjust sidebar styles for RTL */
.filament-sidebar {
    right: 0;
    left: auto;
}

.filament-content {
    margin-left: 0; /* Adjust according to sidebar width */
}

.-translate-x-full {
    --tw-translate-x: 0;
}
.fi-sidebar-nav {
    right: 0;
    left: auto;
}
/* Add more RTL styles as needed */
